#pagebody {
    margin: 0px 25px;

}

img {
  max-width: 100%;
}

#loggedout {
    background-color: rgb(234, 253, 255);
    background: url(images/out.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loggedin {
    background-color: rgb(234, 253, 255);
    background: url(images/in.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#centrewrapper {
    text-align: center;
}

#centrediv {
    display: inline-block;
}

#black {
    /* IE8 and below */
    background: rgb(52, 58, 64);
    /* all other browsers */
    background: rgba(52, 58, 64, 0.90);
    text-align: center;
}

#rightshift {
    display: block;
    margin-left: 25px;
}

#vertical-align {
    vertical-align: middle;
}

ul {
    text-align: left;
}

#leftalign {
    text-align: left;
}

#hover:hover {
    background-color:#000;
    opacity:0.5;
}

.carousel-caption {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.35);
}