{% extends "layout.html" %}

{% block title %}
    Elbow
{% endblock %}

{% block main %}
<div id="centrewrapper">
    <div id="centrediv">
        <br>
        <div class="card text-light bg-dark mb-3">
            <div class="card-header">
                <h5 class="card-title">Elbow</h5>
            </div>
            <div class="card-body" id="leftalign">
                <form action="/elbow" id="elbow" method="post">
                    Where is your elbow pain located? <br>
                    <input type="radio" name="location" value="inside" onclick="changeImage('inside')"> Inside <br>
                    <input type="radio" name="location" value="outside" onclick="changeImage('outside')"> Outside <br>
                    <input type="radio" name="location" value="front" onclick="changeImage('front')"> Front <br>
                    <input type="radio" name="location" value="back" onclick="changeImage('back')" required> Back <br>
                    <img id="picture" src="static/images/elbow/elbow2.png" alt="Elbow" align="center"><br>
                    <br>
                    How did the pain start?<br>
                    <input type="radio" name="onset" value="suddenly"> Suddenly - e.g. throwing, lifting, awkward movement, impact <br>
                    <input type="radio" name="onset" value="progressively" required> Progressively - e.g. noticed it gradually over time <br>
                    <br>
                    Does your elbow click, lock or catch with movement? <br>
                    <input type="radio" name="click" value="yes"> Yes <br>
                    <input type="radio" name="click" value="no" required> No <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button><br>
                <br>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeImage(n) {
        if ( n == 'inside' )
            document.getElementById("picture").src = "static/images/elbow/elbow_inside.png";
        else if ( n == 'outside' )
            document.getElementById("picture").src = "static/images/elbow/elbow_outside.png";
        else if ( n == 'front' )
            document.getElementById("picture").src = "static/images/elbow/elbow_front.png";
        else if ( n == 'back' )
            document.getElementById("picture").src = "static/images/elbow/elbow_back.png";
    }
</script>

{% endblock %}