{% extends "layout.html" %}

{% block title %}
    Neck
{% endblock %}

{% block main %}
<div id="centrewrapper">
    <div id="centrediv">
        <br>
        <div class="card text-light bg-dark mb-3">
            <div class="card-header">
                <h5 class="card-title">Neck</h5>
            </div>
            <div class="card-body" id="leftalign">
                <form action="/neck" id="neck" method="post">
                    Where is your neck pain located? <br>
                    <input type="radio" name="location" value="central" onclick="changeImage('central')"> Back and in the middle <br>
                    <input type="radio" name="location" value="unilateral" onclick="changeImage('unilateral')"> Back and on one side <br>
                    <input type="radio" name="location" value="bilateral" onclick="changeImage('bilateral')"> Back and on both sides <br>
                    <input type="radio" name="location" value="anterior" onclick="changeImage('anterior')"> At the front <br>
                    <input type="radio" name="location" value="bilateral" onclick="changeImage('allover')" required> All over <br>
                    <img id="picture" src="static/images/neck/neck2.png" alt="Neck" align="center"><br>
                    <br>
                    How did the pain start?<br>
                    <input type="radio" name="onset" value="mva"> Suddenly following trauma - e.g. a motor vehicle accident, serious fall <br>
                    <input type="radio" name="onset" value="movement"> Suddenly following movement - e.g. turned head too quickly, <br>awkward turn, heavy lifting <br>
                    <input type="radio" name="onset" value="woke"> Woke up with it <br>
                    <input type="radio" name="onset" value="progressively" required> Progressively - e.g. noticed it gradually over time <br>
                    <br>
                    Do you have any of the following symptoms in your shoulder, arms or hands:<br> pain, pins and needles, burning, numbness, weakness? <br>
                    <input type="radio" name="referred" value="yes"> Yes <br>
                    <input type="radio" name="referred" value="no" required> No <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button><br>
                </form>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeImage(n) {
        if ( n == 'central' )
            document.getElementById("picture").src = "static/images/neck/neck_central.png";
        else if ( n == 'unilateral' )
            document.getElementById("picture").src = "static/images/neck/neck_unilateral.png";
        else if ( n == 'bilateral' )
            document.getElementById("picture").src = "static/images/neck/neck_bilateral.png";
        else if ( n == 'anterior' )
            document.getElementById("picture").src = "static/images/neck/neck_anterior.png";
        else if ( n == 'allover' )
            document.getElementById("picture").src = "static/images/neck/neck_allover.png";
    }
</script>


{% endblock %}