{% extends "layout.html" %}

{% block title %}
    Wrist
{% endblock %}

{% block main %}
<div id="centrewrapper">
    <div id="centrediv">
        <br>
        <div class="card text-light bg-dark mb-3">
            <div class="card-header">
                <h5 class="card-title">Wrist</h5>
            </div>
            <div class="card-body" id="leftalign">
                <form action="/wrist" id="wrist" method="post">
                    Where is your wrist pain located? <br>
                    <input type="radio" name="location" value="palmar" onclick="changeImage('palmar')"> Front (palm-side) <br>
                    <input type="radio" name="location" value="dorsal" onclick="changeImage('dorsal')"> Back <br>
                    <input type="radio" name="location" value="radial" onclick="changeImage('radial')"> Outside (thumb-side) <br>
                    <input type="radio" name="location" value="ulnar" onclick="changeImage('ulnar')" required> Inside (little finger-side) <br>
                    <img id="picture" src="static/images/wrist/wrist2.png" alt="Wrist" align="center"><br>
                    <br>
                    How did the pain start?<br>
                    <input type="radio" name="onset" value="foosh"> Fall onto an outstretched hand or direct impact <br>
                    <input type="radio" name="onset" value="movement"> Suddenly from movement - e.g. twisted, awkward movement, gripping, overstretched <br>
                    <input type="radio" name="onset" value="progressive" required> Progressively - e.g. noticed it gradually over time <br>
                    <br>
                    How long have you had your wrist pain for? <br>
                    <input type="radio" name="time" value="acute"> Less than one week <br>
                    <input type="radio" name="time" value="subacute" > One to six weeks <br>
                    <input type="radio" name="time" value="chronic" required> More than six weeks <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button><br>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeImage(n) {
        if ( n == 'palmar' )
            document.getElementById("picture").src = "static/images/wrist/wrist_palmar.png";
        else if ( n == 'dorsal' )
            document.getElementById("picture").src = "static/images/wrist/wrist_dorsal.png";
        else if ( n == 'radial' )
            document.getElementById("picture").src = "static/images/wrist/wrist_radial.png";
        else if ( n == 'ulnar' )
            document.getElementById("picture").src = "static/images/wrist/wrist_ulnar.png";
    }
</script>

{% endblock %}